.about-us{
    background:#fff;
    .section-heading {
        font-family: 'Grenze', serif;
        color: #031e36;
        font-size: 40px;
        border-bottom: 2px solid yellow;
        width: 25%;
        margin: 30px 37.5%;
        text-align: center;
        @media(max-width:768px)
        {
            width: 50%;
            margin: 0px 25%;
        }
        @media(max-width:370px)
        {
            width: 80%;
            margin: 0px 10%;
        }

    }
    .about-us-para{
        padding: 10px 10%;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
}