.blogs-container {
  min-height: 84vh;
  padding: 65px 0px 20px 0px;
  .blog-item {
    padding: 30px 8px 0px 20px;
    box-shadow: -1px 2px 7px 0px #0a3d62;
    .blog-heading {
      font-size: 28px;
      font-weight: 600;
      cursor: pointer;
    }

    .blog-content-wrapper {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      @media(max-width:768px){
        display: block;
      }
      .blog-title-image {
        @media(max-width:768px){
          width: 100%;
        }
        cursor: pointer;
        width: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 0px;
        img {
          width: 100%;
        }
      }
      .blog-content-container {
        width: 68%;
        @media(max-width:768px){
          width: 100%;
        }
        .blog-author {
          display: flex;
          justify-content: flex-start;
          margin: 24px 0px 0px 0px;
          .author-pic {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: #fff;
            background: #0a3d62;
            border-radius: 50%;
            .anticon {
              padding: 2px;
            }
          }
          .author-name {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 20px;
          }
        }
        .blog-content {
          padding: 20px 0px;
          font-size: 16px;
          word-spacing: 1.5px;
          letter-spacing: 1px;
          font-family: sans-serif;
          .blog-date {
            font-style: italic;
            font-family: monospace;
            padding: 0px 5px 0px 0px;
          }
          .loadMore {
            color: #0a3d62;
            font-style: italic;
            cursor: pointer;
          }
        }
      }
    }
  }
}
