.blogs-component {
    margin-bottom: 45px;
    .section-heading {
        font-family: 'Grenze', serif;
        color: #031e36;
        font-size: 40px;
        border-bottom: 2px solid yellow;
        width: 25%;
        margin: 30px 37.5%;
        text-align: center;

        @media(max-width:768px) {
            width: 50%;
            margin: 0px 25%;
        }

        @media(max-width:370px) {
            width: 80%;
            margin: 0px 10%;
        }

    }

    .blogs-message {
        text-align: center;
        padding: 18px 0px;
    }

    .ant-btn {
        margin: 0 35%;
        width: 30%;
        height: 50px;
        font-size: 22px;
        background: #09233b;
        color: #fff;
        border: none;
        @media(max-width:768px) {
            width: 50%;
            margin: 0px 25%;
        }

        @media(max-width:370px) {
            width: 80%;
            margin: 0px 10%;
        }
        &:hover{
            background: #09233b;
            transform: scale(1.05);
            color: #fff;
            box-shadow: 4px 4px 15px #09233b;
        }
    }
}