.bootcamp-container{
    min-height:84vh;
    padding-top:65px;

     .bootcamp-sec1{
        height: 519px;
        position: relative;
        // background: red;
        img{
            height: 100%;
        }
        .bootcamp-sec1-content{
            padding-left: 50%;
            padding-top: 40px;
            font-size: 22px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;

        }

     }
}