.bootcamp-third-component-container {
  background: #e9e9e9;
  min-height: 350px;
  padding: 20px 10%;
  .grid-container {
   
    .grid-item {
      height: 300px;
      margin-right: 5px;
      background: white;
      & > img {
        height: 100%;
        width: 100%;
        background-size: cover;
      }
      .content-container {
        padding: 20px;
        .image-container{
          height: 100px;
        }
        h2 {
          margin: 0;
        }
      }
    }
  }
}
