.contact-us-main-container {
  padding: 20px;
  text-align: center;
  margin: 42px 0px 0px 0px;
  background: #fff;
  .contact-us-wrapper{
    display: flex;
    min-height: 300px;
    height: fit-content;
    @media(max-width:700px){
     display: block;
     min-height: fit-content;
    }
    .contact-us-image{
width: 50%;
@media(max-width:700px){
  width: 100%;
 }
 img{
 height: 300px;
 width: 100%;
 }
    }
    .contact-us-content-container{
      width: 50%;
      @media(max-width:700px){
        width: 100%;
       }
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      .contact-us-content{
padding: 0px 15px;
      }
    }
  }
}
.contact-us-modal-main-container {
  .ant-modal-content {
    border-radius: 6px;
    min-height: 446px;
    .ant-modal-body {
      padding: 0;
      .ant-tabs {
        .ant-tabs-bar {
          display: none;
        }
        .contact-us-container {
          .contact-box {
            background: #fff;
            border-radius: 6px;
            .form-container {
              padding: 0 15px 15px;
              .title-container {
                text-align: center;
                padding: 15px 10px;
                h1 {
                  margin: 0;
                }
              }
              .contact-buttons {
                display: flex;
                justify-content: flex-end;
                .contact-btn {
                  margin: 5px 10px;
                  width: 115px;
                  height: 35px;
                }
                .submit {
                  background: #0a3d62;
                  color: #fafafa;
                  border: none;
                }
                .cancel {
                  background: #fafafa;
                  &:hover {
                    color: #0a3d62;
                    border-color: #0a3d62;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.ant-modal-mask{
  background-color: rgba(0, 0, 0, 0.82);
}