.course-module {
    .heading-container {
        display: flex;
        background-color: #505763;
        height: 320px;
        padding: 30px 6%;
        color: #fff;
        @media (max-width: 630px) {
            flex-direction: column;
            height: auto;
            padding: 30px auto;
        }
        .heading-section {
            width: 75%;
            @media (max-width: 630px) {
                width: 95%;
                margin: 15px auto;
            }
            .title {
                font-size: 36px;
                line-height: 41px;
                font-weight: 700;
                padding: 8px 6px 8px 0px;
            }
            .sub-title {
                font-size: 21px;
                line-height: 27px;
                padding: 8px 6px 8px 0px;
            }
            .badgeContent {
                padding: 10px 0px;
                .anticon {
                    margin: 0px 5px 0px 0px;
                    font-size: 24px;
                    color: #ffff53;
                }
            }
        }
        .registerForCourse {
            z-index: 1;
            width: 25%;
            @media (max-width: 630px) {
                width: 95%;
                margin: auto;
            }
            .box {
                min-height: 200px;
                padding: 8px;
                background: #fff;
                color: #000;
                .upper-section {
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-height: 80%;
                    }
                }
                .btnSection {
                    color: #fff;
                    background-color: #ec5252;
                    border: 1px solid transparent;
                    padding: 16px 12px;
                    font-size: 15px;
                    line-height: 1.35135;
                    border-radius: 2px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
    .content-container {
        .whatWillYouearn {
            .binder {
                display: flex;
                justify-content: space-around;
                margin: 20px 8px;
                @media (max-width: 768px) {
                    flex-direction: column;
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                    .benifit-Component-main-container {
                        margin: 8px;
                        width: 80%;
                    }
                }
            }
        }
        .courseContent {
            padding: 20px 60px;
            @media (max-width: 700px) {
                padding: 20px;
            }
            [data-theme="compact"] .site-collapse-custom-collapse .site-collapse-custom-panel,
            .site-collapse-custom-collapse .site-collapse-custom-panel {
                background: #f7f7f7;
                border-radius: 2px;
                margin-bottom: 24px;
                border: 0px;
                overflow: hidden;
            }
            .ant-collapse-header {
                background: #f9f9f9;
            }
            .ant-collapse-content-box {
                padding: 16px 0px;
            }
        }
        .coursePackage {
            display: flex;
            justify-content: center;
            width: 90%;
            margin: auto;

            @media (max-width: 650px) {
                flex-direction: column;
                align-items: center;
            }
            .packlist {
                @media (max-width: 650px) {
                    width: 80%;
                }
                margin: 2% 10%;
                background: #fff;
                width: 35%;
                min-width: 350px;
                box-shadow: 0 2px 4px rgba(32, 32, 49, 0.2), 0 1px 2px rgba(32, 32, 49, 0.1);
                .heading {
                    padding: 8px;
                    border-bottom: 1px solid gray;
                    background: #5252f6;
                    border-radius: 0 0 5px 5px;
                    h2 {
                        margin: 0;
                        color: whitesmoke;
                    }
                }
                .price-box {
                    padding: 15px 5px;
                    text-align: center;
                    h1 {
                        margin: 0;
                        font-weight: 500;
                        color: #212121;
                        font-size: 36px;
                        font-family: Roboto, Arial, sans-serif;
                        letter-spacing: 0;
                    }
                    h4 {
                        margin: 0;

                        span:first-child {
                            text-decoration: line-through;
                            font-size: 14px;
                            color: #878787;
                        }
                        span:last-child {
                            color: #388e3c;
                            font-size: 13px;
                            letter-spacing: -0.2px;
                            font-weight: 500;
                            text-decoration: none;
                        }
                    }
                }
                .btn-container {
                    padding: 15px 5px;
                    button {
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
                        color: #fff;
                        background: rgba(44, 44, 255, 0.9);
                        border: none;
                        letter-spacing: 1px;
                        margin-top: 5px;
                    }
                }
            }
            @media (max-width: 1000px) {
                width: 100%;
                .packlist {
                    margin: 2% 5%;
                }
            }
            @media (max-width: 1000px) {
                width: 100%;
                .packlist {
                    margin: 2% 5%;
                    min-width: 270px;
                }
            }
            
        }
        .ant-collapse-item {
            text-align: left;
            margin-bottom: 0 !important;
            p {
                padding: 0;
            }
        }
    }
}
