.footer-component {
    background: #282d43;

    .ant-row {
        .ant-col {
            .footer-content {
                color: #fff;
                text-align: center;
            }

            .contact-icons {
                display: flex;
                justify-content: space-around;



                .anticon {
                    color: #fff;
                    font-size: 30px;
                    padding: 10px;
                }
            }
        }
    }
}