.grow-your-buisness {
  display: flex;
  justify-content: space-between;
  @media (max-width:768px)
  {
    flex-direction: column;
  }
  .left-section {
    width: 50%;
    @media (max-width:768px)
    {
      width: 100%;
    }
    .outer-section {
      @media (max-width:768px)
      {
        width: 98%;
        margin: 10px auto;
      }
      width: 65%;
      margin: 40px auto;
      border: 15px solid #b3b3b3;
      .middle-section {
        border: 15px solid #fff;
        .image-container {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            @media (max-width:768px)
            {
              height: 370px;
            }
            
          }
        }
      }
    }
  }
  .right-section {
    width: 50%;
    display: flex;
    align-items: center;
    @media (max-width:768px)
    {
      width: 100%;
    }
    .right-section-container {
      margin: 70px 2%;
      width: 90%;
      @media (max-width:768px)
      {
        width: 98%;
        margin: 20px 1%;
      }
      .growth-list-section {
        margin-bottom: 5px;
        .header-section {
          display: flex;
          justify-content: flex-start;
          .header-left-section {
            width: 42px;
            margin: 8px;
            img {
              width: 100%;
            }
          }
          .header-right-secion {
            font-weight: 500;
            margin: 8px;
            font-size: 26px;
            @media (max-width:767px){
              text-align: center;
            }
          }
        }
        .content-section {
          font-weight: 500;
          padding: 0px 8px;
          font-size: 17px;
          @media (max-width:767px){
            text-align: center;
          }
        }
      }
    }
  }
}


.grow-row{
  .grow-col1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media(max-width:767px){
      height: 20%;
    }

  }
  .grow-col{
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    text-align: left;
  
    @media(max-width:600px){
      text-align: center;

    }
    
  }
}