.header-main-container {
    @media (max-width: 1000px) {
        display: none;
    }
    z-index: 100;
    box-shadow: 1px 1px 7px 3px #e4e4e4;
    padding: 0 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fafafa;
    .header-content-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000a49;
        .header-content-left {
            display: flex;
            margin: auto 0;
            .menu-content {
                display: flex;
                margin: 0px 35px;
                .header-content {
                    display: inline-block;
                    padding: 10px 15px;
                    margin: 5px;
                    text-transform: uppercase;
                    span {
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
            }
            .header-logo-container {
                padding: 5px;
                img {
                    height: 90px;
                    width: 90px;
                    cursor: pointer;
                }
            }
        }
        .header-content-right {
            .header-content {
                display: inline-block;
                padding: 10px 15px;
                margin: 5px;
                text-transform: uppercase;
                span {
                    cursor: pointer;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
            .login {
                background: #0a3d62;
                color: #fafafa;
                border-radius: 5px;
            }
            .cancel {
                color: #0a3d62;
            }
        }
    }
}
