.landing-component{
    
    height:92vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-image: url('../images/cover.jpg') ;
    background-size: cover;
    background-position: center;
    position: relative;
    .headings-section{
        background-color:rgba($color: #000000, $alpha: 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 35vh 0vw;
        .main-heading{
            text-align: center;
            font-size: 8vw;
            font-weight: 500;
            color: #ffde59;

        }
        .sub-heading{
            text-align: center;
            font-size: 4vw;
            color: #fff;
            font-family: 'Kalam', cursive;
        }
    }
   
}