#RaxowebMain {
  .ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.82);
  }
  .ant-modal-body {
    padding: 0px;
    .loginSignupContainer {
      .ant-tabs-bar {
        display: none;
      }
    }
  }
}
