#RaxowebMain {
  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.82);
  }
  .login-signup-modal {
    .ant-modal {
      width: 900px !important;
      @media (max-width: 768px) {
        width: 520px !important;
      }

      .ant-modal-content {
        .ant-modal-body {
          padding: 0px;
          .login-signup-container-wrapper {
            display: flex;
            @media (max-width: 768px) {
              display: block;
            }
            .img-containers {
              width: 52%;
              @media (max-width: 768px) {
                display: none;
              }
            }
            .loginSignupContainer {
              width: 48%;
              min-height: 520px !important;
              @media (max-width: 768px) {
                width: 100%;
              }
              .ant-tabs-bar {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
