.our-services {
    background: #fff;

    .section-heading {
        font-family: 'Grenze', serif;
        color: #031e36;
        font-size: 40px;
        border-bottom: 2px solid yellow;
        width: 25%;
        margin: 0px 37.5%;
        text-align: center;
        @media(max-width:768px)
        {
            width: 50%;
            margin: 0px 25%;
        }
        @media(max-width:370px)
        {
            width: 80%;
            margin: 0px 10%;
        }

    }

    .ant-row {
        .ant-col {
           padding: 10px 20px;
            .ant-card {
                width: 90% !important;
                height: same-as-width;

                margin: 15px auto;
                text-align: center;
                

                i {
                    font-size: 10vw;
                    @media(max-width:768px)
                    {
                        font-size: 20vw;
                    }
                }

                &:hover {
                    transform:scale(1.1);
                    box-shadow:2px 2px 10px #031e36;
                }
            }

            .ant-card-bordered {
                border: none !important;
            }
        }
    }
}