input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.main-container {
    .header-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
    }
    .page-container {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }
}