.title-box-component-main-container {
    display: flex;
    height: calc(100vh - 60px);
    @media (max-width: 600px) {
        flex-direction: column;
    }
    .title-box-left-content-container {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .image-holder {
            width: 100%;
            img {
                height: inherit;
                width: inherit;
            }
        }
    }
    .title-box-right-content-container {
        background: url(https://img.freepik.com/free-vector/white-technology-background-with-arrows_23-2148399722.jpg?size=626&ext=jpg);
        background-position: center;
        background-size: cover;
        flex: 1 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        .title-container {
            text-align: center;
            .main-heading {
                margin-bottom: 5px;
                color: #000a49;
                font-size: 35px;
            }
            .sub-sub-heading {
                margin-bottom: 5px;
                color: #000a49;
            }
            .sub-heading {
                color: #1f2732;
            }
            .learn-more-button {
                padding: 15px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                h2 {
                    cursor: pointer;
                    margin: 0 auto;
                    padding: 4px 10px;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    border: 2px solid;
                    border-radius: 20px;
                    color: #000a49;
                }
            }
        }
    }
}
