.what-we-do {
  margin: 42px 0px;
  .ant-row {
    .ant-col {
      .card-container {
        @media (min-width: 1040px) {
          width: 86%;
        }
        margin: auto;
        height: 320px;
        box-shadow: 4px 4px 10px 2px #e4e4e4;
        position: relative;
        margin: 10px 3%;
        @media (max-width: 768px) {
          width: 92%;
          margin: 10px 4%;
        }
        @media (max-width: 575px) {
          width: 90%;
          margin: 18px 5%;
        }

        .top-section {
          height: 70%;
          //  background: url("../media/images/whatwedo1.jpg");
          img {
            height: 100%;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
        .buttom-section {
          height: 33%;
          background: #fff;
          background-size: cover;
          background-repeat: no-repeat;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 10px 0px 10px 0px;
          .title-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
              .title{
                font-size: 18px;
                color: rgba(0, 0, 0, 0.85);
                font-weight: 600;
                padding: 0;
                margin: 0;
                margin-bottom: 6px;
              }
              .sub-title{
                padding: 0 13px;
                margin: 0;    
              }
              .action-btn{
                color: #3b82d2;
                font-weight: bold;
                cursor: pointer;
              }
          }
        }
        transition: 0.3s;
        &:hover {
          box-shadow: 0 16px 32px rgba(32, 32, 49, 0.4), 0 4px 8px rgba(32, 32, 49, 0.2);
          transform: translateY(-15px);

          transform: scale(1.02);
        }
      }
      .container1 {
        // background: url("../media/images/whatwedo1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
      }
      .container2 {
        // background: url("../media/images/whatwedo2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
      }
      .container3 {
        // background: url("../media/images/whatwedo3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
      }
      .container4 {
        // background: url("../media/images/whatwedo4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
      }
      .courses{
        cursor: pointer;
      }
    }
  }
}
